
.title-container {
  position: absolute;
  top: 30%;
  text-align: center;
}

.title {
  overflow: hidden;

}

.main-wrapper {
  font-size: 2vw;
  margin-top: 2vh;
  font-family: 'Poppins', sans-serif;
  color: white;

  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

.main-rotating-word-container {
  overflow: hidden;
  vertical-align: bottom;

  display: grid;

  > * {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.main-rotating-word {
  /* text-align: left; */
  visibility: hidden;
  background: linear-gradient(90deg, #87CEEB, #FFFFFF); /* Sky Blue → White */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.my-buttons-wrapper {
  display: flex;
  align-items: center;
  color: black;
  justify-content: center;
  width: 100%;
  position: absolute;
  gap: 1vw;
  margin-top: 25vw;
}
