@import "tailwindcss";

.github-button,
.contact-button {
  width: 210px;
  border: 2px solid white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 450;
  border-radius: 55px;
  padding: 0.3vw;
  transition: 0.2s;
  cursor: pointer;
  z-index: 0;
}

.contact-button {
  position: relative;
  background-color: transparent;
  overflow: hidden;
  color: white;
}

.contact-button:hover {
  color: black;
  background-color: white;
}
.github-button {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.github-button:hover {
  opacity: 0.8;
}

.github-logo {
  width: 10px;
  margin-right: 10px;
  pointer-events: stroke;
}

.icon-tech-stack {
  @apply w-6 h-6 object-cover;
}

.btn-tech-stack {
  @apply  bg-neutral-800 hover:bg-neutral-700 text-neutral-200 font-medium
          py-2 px-4 rounded-full flex items-center space-x-2
          transition-colors duration-150 ease-in-out text-sm shadow-md;
}

.holographic-card {
    @apply  bg-neutral-800 hover:bg-neutral-700 text-neutral-200 font-medium
          py-2 px-4 rounded-full flex items-center space-x-2
          transition-colors duration-150 ease-in-out text-sm shadow-md;
  background: #111;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.holographic-card h2 {
  color: #0ff;
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

.holographic-card::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(0,255,255,0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,255,255,0.5);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}


/* ---------- Responsive Font & Padding ---------- */

@media (max-width: 1024px) {
  .github-button,
  .contact-button {
    width: 180px;
    font-size: 18px;
    padding: 0.5vw;
  }
}

@media (max-width: 768px) {
  .github-button,
  .contact-button {
    font-size: 14px;
    padding: 6px 12px;
    width: 150px;
  }
}

@media (max-width: 480px) {
  .github-button,
  .contact-button {
    font-size: 13px;
    padding: 5px 10px;
    width: 120px;
  }
}
