.my-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

.bg-blue-gradient {
  --color-bg1: rgb(0, 0, 0);
  --color-bg2: rgb(4, 0, 59);
  background: linear-gradient(40deg, var(--color-bg1) 0%, var(--color-bg2) 100%);

}

.bg-blue-gradient::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  --color-bg2: rgb(4, 0, 59);
  height: 10%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    black 80%
  );
}

.bg-black {
  background-color: black;
}
